body {
  font-family: sans-serif;
  background-color: #666669 !important;
}

::-webkit-scrollbar { 
  display: none; 
}

.vertical-timeline > .vertical-timeline-element {
  margin: 1em;
}

/* Grid for Add Drawer Actions */

.container {
  max-width: 1150px;
  margin: 0 auto;
}
.grid-row {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
}

.grid-item {
  height: 125px;
  flex-basis: 20%;
  -ms-flex: auto;
  width: 125px;
  position: relative;
  padding: 10px;
  box-sizing: border-box;
  text-transform: uppercase;
  font-weight: 200;
}

.vertical-timeline-element .vertical-timeline-element-content .vertical-timeline-element-date {
  color: #fefefe;
}

.vertical-timeline-element .vertical-timeline-element-content #project {
  padding-top: 2px;
}

.vertical-timeline-element .vertical-timeline-element-content #task {
  padding-top: 2px;
}

.vertical-timeline-element .vertical-timeline-element-content #link {
  padding-top: 2px;
}

.vertical-timeline-element .vertical-timeline-element-content h4#elapsed {
  color: grey;
  font-size: 14px;
  font-weight: 200;
  margin-top: 6px;
}

@media(max-width: 1333px) {
  .grid-item {
    flex-basis: 20%;
  }
}
@media(max-width: 1073px) {
   .grid-item {
    flex-basis: 20%;
  }
}
@media(max-width: 815px) {
  .grid-item {
    flex-basis: 25%;
  }
}
@media(max-width: 555px) {
  .grid-item {
    flex-basis: 10%;
  }
}